{:aliases  {:dev {:extra-paths ["development/src"
                                "components/fp/src"
                                "components/org-staging/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.12.2"}
                               com.taoensso/timbre {:mvn/version "6.8.0"}
                               }
                  }
            :test {:extra-paths ["development/test"
                                 "components/fp/test"
                                 "components/org-staging/test"]
                   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                   :main-opts ["-m" "kaocha.runner"]
                   }
            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}}}}}
