{:aliases  {:dev {:extra-paths ["development/src"
                                "components/downloads-cleaner/src"
                                "components/plaud-downloader/src"
                                ]
                  
                  :extra-deps {org.clojure/clojure {:mvn/version "1.12.2"}
                               org.clojure/core.async {:mvn/version "1.9.865"}
                               com.taoensso/timbre {:mvn/version "6.8.0"}
                               babashka/fs {:mvn/version "0.5.33"}
                               thheller/shadow-cljs {:mvn/version "3.4.11"}
                               io.github.nextjournal/clerk {:mvn/version "0.17.1102"}
                               org.clojure/java.doc {:git/url "https://github.com/clojure/java.doc"
                                                     :git/tag "v0.1.4"
                                                     :git/sha "34e381e"}
                               jstavel/plaud-downloader {:local/root "components/plaud-downloader"}
                               djblue/portal {:mvn/version "0.65.0"}
                               }
                  }
            :test {:extra-paths ["development/test"
                                 "components/downloads-cleaner/test"]}
            :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                     :main-opts ["-m" "kaocha.runner"]
                     }
            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}}}}
 :deps {djblue/portal {:mvn/version "0.65.0"}}
}
