{:deps {:aliases [:dev :test]}
 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:downloader {:target :node-script
               :main jstavel.plaud-downloader.core/-main
               :output-to "out/plaud_downloader.js"
               :compiler-options {:optimizations :none}
               :devtools {:repl true}}
  
  :test-node {:target :node-test
              :output-to "out/test.js"
              :autorun true
              :modules {:test {:entries [jstavel.plaud-downloader.core-test]}}
}}}
